/.dart_tool
/.flutter-plugins
/.flutter-plugins-dependencies
/.idea
/.metadata
/1pubspec.yaml
/analysis_options.yaml
/android
/build
/ios
/linux
/macos
/pubspec.lock
/README.md
/sqflite_todo_app_2.iml
/test
/web
/windows